<%= form_with model: @recipe, url: user_recipes_path(user_id: current_user.id), method: 'post', local: true, scope: :recipe do |form| %>
  <div class='form'>

    <div>
        <%= form.label :name %>
        <%= form.text_field :name, autofocus: true, required: true %>
    </div>

    <div>
        <%= form.label :preparation_time %>
        <%= form.text_field :preparation_time, value: "1" %>
    </div>

    <div>
        <%= form.label :cooking_time %>
        <%= form.text_field :cooking_time, value: '1' %>
    </div>

    <div>
        <%= form.label :description %>
        <%= form.text_field :description, required: true, value: 'This is a description' %>
    </div>

    <div>
        <%= form.label :public %>
        <%= form.check_box :public, checked: true %>
    </div>

    <div>
        <%= form.submit "Add" %>
    </div>

  </div>
<% end %>